# Docker Creds
DOCKER_USER=marks-deploy-token
DOCKER_PASSWORD=sample
DOCKER_GROUP_NAME=mark4501703
DOCKER_PROJECT_NAME=tennis-game
REGISTRY_DOMAIN=registry.gitlab.com

NAMESPACE=tennis-game

PF_PORT=8080
LOCAL_TEST_PORT=4173
LOCAL_DOCKER_PORT=8081
